framework: netcoreapp31
source https://api.nuget.org/v3/index.json

// PRODUCTION STUFF
nuget RestSharp 106.11.4
nuget Marvin.Cache.Headers 5.0.1
nuget StackExchange.Redis 2.1.30
nuget AWSSDK.S3 3.3.111.4

// MISSING ASSEMBLY REFERENCES
nuget Microsoft.IdentityModel.Tokens 6.6.0
nuget IdentityModel 4.3.0
nuget Be.Vlaanderen.Basisregisters.ProjectionHandling.Runner 6.0.4
nuget Be.Vlaanderen.Basisregisters.AggregateSource.SqlStreamStore 5.0.5
nuget Be.Vlaanderen.Basisregisters.AggregateSource.ExplicitRouting 5.0.5

// VBR STUFF
nuget Be.Vlaanderen.Basisregisters.MunicipalityRegistry.Api.Legacy      3.6.22  copy_content_to_output_dir: always
nuget Be.Vlaanderen.Basisregisters.PostalRegistry.Api.Legacy            2.7.6   copy_content_to_output_dir: always
nuget Be.Vlaanderen.Basisregisters.StreetNameRegistry.Api.Legacy        2.8.10  copy_content_to_output_dir: always
nuget Be.Vlaanderen.Basisregisters.AddressRegistry.Api.Legacy           2.14.2  copy_content_to_output_dir: always
nuget Be.Vlaanderen.Basisregisters.BuildingRegistry.Api.Legacy          2.12.3  copy_content_to_output_dir: always
nuget Be.Vlaanderen.Basisregisters.ParcelRegistry.Api.Legacy            3.10.9  copy_content_to_output_dir: always
nuget Be.Vlaanderen.Basisregisters.PublicServiceRegistry.Api.Backoffice 2.1.1   copy_content_to_output_dir: always

nuget Be.Vlaanderen.Basisregisters.Build.Pipeline 4.1.0

nuget Be.Vlaanderen.Basisregisters.Api 11.2.4

nuget Be.Vlaanderen.Basisregisters.GrAr.Common 15.6.0
nuget Be.Vlaanderen.Basisregisters.GrAr.Legacy 15.6.0
nuget Be.Vlaanderen.Basisregisters.GrAr.Provenance 15.6.0

// TEST STUFF
nuget Microsoft.NET.Test.Sdk 16.6.1
nuget Microsoft.EntityFrameworkCore.InMemory 3.1.4
nuget xunit 2.4.1
nuget xunit.runner.visualstudio 2.4.1
nuget xunit.categories 2.0.4
nuget AutoFixture 4.11.0
nuget AutoFixture.Xunit2 4.11.0
nuget FluentAssertions 5.10.3

// BUILD STUFF
nuget SourceLink.Embed.AllSourceFiles 2.8.3 copy_local: true
nuget SourceLink.Copy.PdbFiles 2.8.3 copy_local: true
