framework: net8.0
source https://api.nuget.org/v3/index.json

// PRODUCTION STUFF
nuget RestSharp 108.0.2
nuget Marvin.Cache.Headers 7.1.0
nuget StackExchange.Redis 2.5.43
nuget AWSSDK.S3 3.7.307

nuget Datadog.Trace.Bundle 2.49.0

nuget Swashbuckle.AspNetCore 6.2.3
nuget Swashbuckle.AspNetCore.Filters 8.0.1
nuget Swashbuckle.AspNetCore.Newtonsoft 6.2.3
nuget Swashbuckle.AspNetCore.Annotations 6.2.3
nuget Swashbuckle.AspNetCore.Swagger 6.2.3
nuget Swashbuckle.AspNetCore.SwaggerGen 6.2.3
nuget Swashbuckle.AspNetCore.SwaggerUI 6.2.3

// VBR STUFF
nuget Be.Vlaanderen.Basisregisters.MunicipalityRegistry.Api.Oslo        5.2.0  copy_content_to_output_dir: always
nuget Be.Vlaanderen.Basisregisters.PostalRegistry.Api.Oslo              5.1.0  copy_content_to_output_dir: always
nuget Be.Vlaanderen.Basisregisters.StreetNameRegistry.Api.Oslo          4.5.1  copy_content_to_output_dir: always
nuget Be.Vlaanderen.Basisregisters.StreetNameRegistry.Api.BackOffice.Abstractions    4.5.1  copy_content_to_output_dir: always
nuget Be.Vlaanderen.Basisregisters.BuildingRegistry.Api.Oslo            4.10.1  copy_content_to_output_dir: always
nuget Be.Vlaanderen.Basisregisters.BuildingRegistry.Api.BackOffice.Abstractions      4.10.1  copy_content_to_output_dir: always
nuget Be.Vlaanderen.Basisregisters.AddressRegistry.Api.Oslo             4.17.0 copy_content_to_output_dir: always
nuget Be.Vlaanderen.Basisregisters.AddressRegistry.Api.BackOffice.Abstractions       4.17.0 copy_content_to_output_dir: always
nuget Be.Vlaanderen.Basisregisters.ParcelRegistry.Api.Oslo              5.5.3  copy_content_to_output_dir: always
nuget Be.Vlaanderen.Basisregisters.ParcelRegistry.Api.BackOffice.Abstractions       5.5.3  copy_content_to_output_dir: always
nuget Be.Vlaanderen.Basisregisters.RoadRegistry.BackOffice              4.3.0 copy_content_to_output_dir: always
nuget Be.Vlaanderen.Basisregisters.RoadRegistry.BackOffice.Api          4.3.0 copy_content_to_output_dir: always
nuget Be.Vlaanderen.Basisregisters.RoadRegistry.BackOffice.Abstractions 4.3.0 copy_content_to_output_dir: always
nuget Be.Vlaanderen.Basisregisters.IntegrationDb.SuspiciousCases.Api.Abstractions 2.1.0 copy_content_to_output_dir: always

nuget Be.Vlaanderen.Basisregisters.Build.Pipeline 7.2.5

nuget Be.Vlaanderen.Basisregisters.AggregateSource.ExplicitRouting 9.0.1

nuget Be.Vlaanderen.Basisregisters.Auth.AcmIdm 2.0.0
nuget Be.Vlaanderen.Basisregisters.Api 23.1.0

nuget Be.Vlaanderen.Basisregisters.GrAr.Common 21.14.1
nuget Be.Vlaanderen.Basisregisters.GrAr.Edit 21.14.1
nuget Be.Vlaanderen.Basisregisters.GrAr.Legacy 21.14.1
nuget Be.Vlaanderen.Basisregisters.GrAr.Provenance 21.14.1
nuget Be.Vlaanderen.Basisregisters.GrAr.Import 21.14.1

nuget Be.Vlaanderen.Basisregisters.EventHandling 5.0.0
nuget Be.Vlaanderen.Basisregisters.ProblemDetails 9.0.0

nuget Be.Vlaanderen.Basisregisters.Sqs 3.0.1

nuget Be.Vlaanderen.Basisregisters.TicketingService.Abstractions 2.0.1

// TEST STUFF
// nuget Microsoft.NET.Test.Sdk 17.9.0
// nuget xunit 2.7.0
// nuget xunit.runner.visualstudio 2.5.7
// nuget AutoFixture 4.17.0
// nuget AutoFixture.Xunit2 4.17.0

// BUILD STUFF
nuget SourceLink.Embed.AllSourceFiles 2.8.3 copy_local: true
nuget SourceLink.Copy.PdbFiles 2.8.3 copy_local: true
